<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="g12.namspaceY">
    <select id="SSSID" resultMap="superJoinMapper">
        select
            C.id as id,
            C.username as username,
            C.create_time as create_time,
            C.password as password,
            O.id as order_id,
            O.amount as order_amount,
            D.id as detail_id,
            D.avatar as detail_avatar,
            D.addr as detail_addr
        from customer C
                 left outer join detail D on C.id = D.customer_id
                 left outer join `orders` O on C.id = O.customer_id;
    </select>
    
    <resultMap id="superJoinMapper" type="cn.edu.xmu.g12demomybatis.model.SuperJoin" autoMapping="true">
        <id property="id" column="id"/>
        <association property="detail" resultMap="detailMap"/>
        <collection property="orders" resultMap="ordersMap"/>
    </resultMap>
    <resultMap id="ordersMap" type="cn.edu.xmu.g12demomybatis.model.Orders" autoMapping="true">
        <id property="id" column="order_id"></id>
        <result property="amount" column="order_amount"></result>
        <result property="customerId" column="id"></result>
    </resultMap>
    <resultMap id="detailMap" type="cn.edu.xmu.g12demomybatis.model.Detail" autoMapping="true">
        <id property="id" column="detail_id"></id>
        <result property="avatar" column="detail_avatar"></result>
        <result property="addr" column="detail_addr"></result>
        <result property="customerId" column="id"></result>
    </resultMap>
</mapper>